# Authentication
GOOGLE_ID=key_goes_here
GOOGLE_SECRET=key_goes_here
NEXTAUTH_URL=http://localhost:3000

# Stripe
STRIPE_PUBLIC_KEY=key_goes_here
STRIPE_SECRET_KEY=key_goes_here

# Stripe Terminal/CLI
STRIPE_SIGNING_SECRET=key_goes_here

HOST=http://localhost:3000

# Need to add this to... google cloud
# http://localhost:3000/api/auth/callback/google
Fa1E58LtLuEMnhzRXRMyW1a2aFwc2FGfm3GYLs+GYgW5BEfxqinfcUAkVqSt+lHlMiL7g+c3WhauPE9TqBelwR4y6i4z94zv6KjzDHxmXflFZVRn+u7KPufmxjjs5UFsSu2sgoODWEbHoxpRcZlMYignhFpVvSv0XFW4OEK4lS/sBhYrQR2nnQexyUlSiCYtdTT2aSvSLbAWe/wD4pmeVzYlTdEAAAAASUVORK5CYII=
